<!-- Bohyun Kim, #301131832, COMP 229, Section 008 -->
<!-- Diego Poblete #301158204, COMP 229, Section 008 -->

<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<style>
    table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color:DeepSkyBlue;
    color: #fff;
}

.wrap {
  width: 100%;
  height: 100%;
  
  
  background: rgba(0, 0, 0, 0.1);
}

/* CSS */


/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 8%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: azure;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;


}




/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: right;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


</style>
<div>
    <div class="offset-md-4 col-md-4">
<div class="title text-center my-5">
    <body style="background-color: azure;"></body>
           <h1 style="color: black; font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Survey List</h1>
        </div>
        </div>
        </div>

        <div class="button-19">

        

        <a href="/survey-list">
            <i class="fas fa-poll-h"></i>

 <caption>Survey List</caption></div>
        </a>
        

        <br>
        <br>
        <div style="border:1px solid; padding:10px; border-radius: 0.5rem;">
            
            
            <div class="button-55">

        

                <a href="/survey-list/add">
                    <i class="fas fa-folder-plus"></i>
        
         <caption>New Survey</caption></div>
                </a>

                <br>
                <br>
                <br>
        <table border="1" width="1785" height="100">
            <thead>
            
        <!-- Header Row-->
        <% if (surveys.length > 0) { %>
            <tr align="center">
                <th>Survey Name</th>
                <th>Description</th>
                <th>Start Date</th>                    
                <th>End Date</th>
            </tr>
        <% } %>
</thead>
        <!-- Repeatable Template Row -->
<tbody>
        <% for(let count = 0; count < surveys.length; count++) { %>
            <tr align="center">
                <td><%= surveys[count].title %></td>
                <td><%= surveys[count].description %></td>
                <td><%= surveys[count].startDate.toDateString() %></td>
                <td><%= surveys[count].endDate.toDateString() %></td>
            </tr>
        <% } %></tbody>
    </table>

</div>

  

 



<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>